doctype html
html(lang='en')
	head
		title Vitaliy Zbryzskiy

		//- meta
		meta(charset='UTF-8')
		meta(name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")

		meta(name="theme-color", content="#ffffff")

		//- open graph
		meta(property="og:type" content="website")
		meta(property="og:title" content="Vitaliy Zbryzskiy")
		meta(property="og:description" content="Front-end developer")
		meta(property="og:image" content="img/avatar-300px.jpg")
		meta(property="og:url" content="https://vitaliy_zbryzskiy.github.io/")
		meta(name="twitter:image" content="img/avatar-300px.jpg")
		meta(name="twitter:title" content="Vitaliy Zbryzskiy")
		meta(name="twitter:url" content="https://vitaliy_zbryzskiy.github.io/")
		meta(name="twitter:card" content="summary")
		meta(name="twitter:description" content="Front-end developer")

		link(rel='stylesheet', href='css/main.css')
		//- style
			//- include ../dist/css/main.css

	body
		section.introduction
			img(src="img/avatar-300px.jpg", alt="Vitaliy Zbryzskiy")
			h1 Vitaliy Zbryzskiy
			h4 (FrontEnd developer)
			ul
				li
					strong Location: 
					a(href="https://www.google.com.ua/maps/place/%D0%A7%D0%B5%D1%80%D0%BA%D0%B0%D1%81%D1%81%D1%8B,+%D0%A7%D0%B5%D1%80%D0%BA%D0%B0%D1%81%D1%81%D0%BA%D0%B0%D1%8F+%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C/@49.4310824,31.9787417,12z/data=!3m1!4b1!4m5!3m4!1s0x40d14b866064977f:0xf8dce723a9cbb5d8!8m2!3d49.444433!4d32.059767?hl=ru" target="_blank") Ukraine, Cherkassy
				li
					strong E-MAIL: 
					a(href="mailto:zbryzskiy.intertech@gmail.com") zbryzskiy.intertech@gmail.com
				li
					strong Phone: 
					a(href="callto:+380932596725") +38 (093) 2596725
				li
					strong Skype: 
					a(href="skype:zimbo222.mail.ru") zimbo222.mail.ru

		section.overview
			h2 Overview
			p I'm HTML5, CSS3 and JavaScript developer with 2 years of experience. I enjoy working on hard projects because they make me evolve faster and stronger as a developer. The biggest advantage for me is good productivity. I can produce enormouse amounts of code in short time and really don`t get tired. I expect for a good team of professionslsand ready to be a part of friendly and strong team.
		section.skills
			h2 Skills
			ul
				li Javascript
				li HTML5
				li CSS3
				li User Experience & Design
				li jQuery
				li Angular 4
				li TWIG
				li Sass/Less/SCSS
				li Pug(Jade) Language
				li Git/Subversion

		section.education
			h2 Education
			h3 Master of Enterprise economy, Cherkassy East European Uiversity of Economics and Managament
			p 2006 – 2011

		section.experience
			h2 Experience
			ul
				li
					h3 Purchasing Manager at Laconiya LLC
					p January 2011 - May 2015 (4 years)
				li
					h3 FrontEnd Developer at Intertech
					p October 2015 - July 2017 (2 years)

		section.projects
			h2 Projects
			ul
				li
					h3
						a(href="http://www.alncc.com/" target="_blank") Alpha Navigation
					p CSS3, jQuery, Jade 
				li
					h3
						a(href="https://blog.allo.ua" target="_blank") blog.allo
					p SASS, Pug, jQuery
				li
					h3
						a(href="http://slimpal.ru/" target="_blank") Slimpal
					p SCSS, Jade, Javascript
				li
					h3
						a(href="https://globalimages.com.ua" target="_blank") Globalimages
					p SASS, Jade, Javascript, Gmaps Api
